<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <pre>
    <table>
        <tbody>
            <thead>
                <tr>
                    <th>Vehicle Type</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>License</th>
                    <th>Year</th>
                    <th>Km</th>
                </tr>
            </thead>
            {{#if vehicle}}
            {{#if event}}

            <tr>
                <td>{{event}}</td>
                <td>{{event}}</td>
            </tr>
            {{/each}}
            {{/each}}
            </pre>
</body>

</html>