<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Garage - vehicle cost and maintenance tracking system</title>
    <!-- Material Design Loading -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-deep_orange.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/mdl-dropdown.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div id="root">
        <!-- Navigation -->
        <div class="demo-layout-transparent mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--transparent">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <a href="/mygarage" class="logo ">
                        <span>The Garage App</span>
                    </a>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="/mygarage">My Garage</a>
                        <a class="mdl-navigation__link" href="/addvehicle">Add Vehicle</a>
                        <a class="mdl-navigation__link" href="/maintenance">Maintenance</a>
                        <a class="mdl-navigation__link" href="/logout">Logout</a>
                    </nav>
                </div>
            </header>
            <!-- Side Navigation -->
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/mygarage">My Garage</a>
                    <a class="mdl-navigation__link" href="/addvehicle">Add Vehicle</a>
                    <a class="mdl-navigation__link" href="/maintenance">Maintenance</a>
                    <a class="mdl-navigation__link" href="/logout">Logout</a>
                </nav>
            </div>
        </div>
    </div>
    <!--<script src="./js/mdl-custom/js-vehicle-obj.js"></script> -->
    <!-- <script src="./js/mdl-custom/mdl-dropdown.js"></script> -->
</body>

</html>