<div id="add" class="add-container">
    <form method="POST" id="addForm"></form>

    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" form="addForm">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <button type="button" form="addForm">Add</button>
        </tfoot>
    </table>
</div>