<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="#/" class="logo ">
                <span>The Garage App</span>
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#/">Home</a>
                <a class="mdl-navigation__link" href="#/">My Garage</a>
                <a class="mdl-navigation__link" href="">Overview</a>
                <a class="mdl-navigation__link" href="">Logout</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <!-- Main Content Start -->
    <main class="mdl-layout__content">
    </main>
</div>




<!--
            <a class="navbar-brand" href="#/">Home</a>
            <a class="navbar-brand" href="#/addvehicle">Add Vehicle</a>
            <a class="navbar-brand" href="#/mycars">MyCars</a>
            <a class="navbar-brand" href="#/events">Events</a>
            <a class="navbar-brand" href="#/reports">Reports</a>
            <a class="navbar-brand" href="#/register">Register</a>
            <a class="navbar-brand" href="#/login">Login</a>
-->