<header>
    <div id="login" class="login">
        <li>Login</li>
        <li>Register</li>
    </div>
</header>
<nav class="navi">
    <ul class="navi menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/mycars">MyCars</a></li>
        <li><a href="#/events">Events</a></li>
        <li><a href="#/reports">Reports</a></li>
    </ul>
</nav>

<section>
</section>

<aside>
</aside>

<footer>
</footer>